@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap');

#banner {
    background-image: url(../img/indexbg.jpeg);
    height: calc(100vh - 56px);
    background-size: cover;
    background-attachment: fixed;
    color:white;
}

/* ===== Edições dos card-games, remover se desnecessário ====== */

h2, h3, h4 {
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

section>h2 {
    margin: 60px 0px;
}

.card-game img {
    height: 21.875rem;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.image-container {
    height: 21.875rem;
    width: 100%;
    border: 10px groove --corCinza;
    border-radius: 15px;
    overflow: hidden;
}

.card-game img:hover {
    transform: scale(1.1);
}

p {
    display: block;
    margin: 0 60% 0 0%;
}